.signUp__container {
  width: 100%;
  height: 100vh;
  background-image: url("/images/renderinImages/SignUp.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding-left: 80px;
  position: relative;
}

.form_container {
  width: 40%;
  height: 635px;
  background-color: var(--component-background);
  border-radius: 25px;
  position: relative;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form_container h1 {
  font-size: 40px;
  color: var(--darken-white);
  z-index: 1;
}
.grading {
  width: 600px;
  height: 600px;
  background-image: radial-gradient(
    closest-side,
    rgba(168, 91, 91, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.one__gradient {
  position: absolute;
  top: 0;
  right: 900px;
}
.two__gradient {
  position: absolute;
  left: 0;
}

.signForm {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  /* background-color: red; */
}

.signInput {
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  background-color: var(--darken-white);
}
input[type="password"]:not(:placeholder-shown) {
  font-family: "Work Sans", sans-serif;
}

.signInput:focus,
.signInput:active {
  border: 2px solid var(--button-color);
  outline: none;
}

.signBTN {
  width: 30%;
  height: 50px;
  color: var(--darken-white);
  background-color: var(--button-color);
  border: none;
}

.signNav p {
  color: var(--darken-white);
}
.signNav .signRoutes {
  color: var(--button-color);
  text-decoration: none;
}
.signNav a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.adminIcon {
  font-size: 30px;
  color: var(--button-color);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 100px;
}
.adminIcon:hover {
  color: var(--darken-white);
}
