/* :root {
    --base-background: #3b3838;
    --button-color: #b71606;
    --darken-white: #faf6f6;
    --component-background: #555555;
    --light-grey: #d9d9d9;
    --gradient-color: #a85b5b;
  }
   */
body {
  position: relative;
  overflow-x: hidden;
}

.hero__container {
  background-color: var(--base-background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color {
  width: 1000px;
  height: 1000px;
  background-image: radial-gradient(
    closest-side,
    rgba(168, 91, 91, 0.5),
    rgba(0, 0, 0, 0)
  );
}

.first__gradient {
  position: absolute;
  top: -500px;
  right: -300px;
}
.second__gradient {
  position: absolute;
  right: 500px;
}

.slide_hidden {
  display: none;
}

.carousel {
  width: 75%;
  height: 388px;
  background-color: var(--base-background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headersLetters {
  position: absolute;
  max-width: 399px;
  /* max-width: 184px; */
  font-size: 54px;
  color: var(--darken-white);
  top: 2em;
  left: 2em;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicators {
  position: absolute;
  bottom: 0.5em;
}

.indicator-btn {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
}
.active-indicator {
  background-color: var(--button-color);
}

.food__choice__container {
  width: 60%;
  height: 408px;
  background-color: var(--component-background);
  /* display: flex;
  justify-content: center;
  align-items: center; */

  z-index: 1;
}
.food__choice__header {
  font-size: 34px;
  color: var(--darken-white);
  z-index: 1;
  margin: 20px;
}

.back__button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
}
.bars_container {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  gap: 10px;
}
.bars_container .bars {
  width: 90px;
  height: 4px;
  background-color: var(--light-grey);
}
.bars_container .active {
  width: 90px;
  height: 4px;
  background-color: var(--button-color);
}

.navigation__bars {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}
.food__choice__container .foodCategory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  grid-auto-rows: 132px;
  grid-template-rows: 132px 132px;
  place-items: center;
  gap: 10px;
  height: 70%;
  /* max-width: 80%; */
  /* background-color: red; */
}
.btn__container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 196px;
  height: 44px;
  border: none;
  background-color: var(--button-color);
  color: var(--darken-white);
  border-radius: 9px;
}
.btnInactive {
  width: 196px;
  height: 44px;
  border: none;
  background-color: var(--gradient-color);
  color: var(--darken-white);
  border-radius: 9px;
}
.hidden {
  display: none;
}

.foodDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
