.profile__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.profile__container h3 {
  font-size: 25px;
  color: var(--darken-white);
}

.firstCircle {
  width: 112px;
  height: 112px;
  background-color: var(--gradient-color-one);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstCircle .profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarAndName p {
  font-size: 16px;
  font-weight: 600;
  color: var(--darken-white);
}

.userForm {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputContainer .inputs {
  appearance: none;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--darken-white);
  text-align: center;
}
.inputContainer .inputs:focus,
.inputContainer .inputs:active {
  border: 1px solid var(--button-color);
}

.userForm .userButton {
  width: 20%;
  height: 60px;
  background-color: var(--button-color);
  color: var(--darken-white);
  border: none;
  border-radius: 10px;
}
